@page "/forecast/{Id}"
@using System.Text.Json
@using System.Text.Json.Serialization
@using WeatherBA.Shared.Dtos;
@inject HttpClient Http
@inject NavigationManager NavManager


<h2>Forecast Details</h2>

@if (forecast == null)
{
    <p>Loading...</p>
} 
else
{
    <h3>Id: @forecast.Id</h3>
    <h4>Date: @forecast.Date</h4>
    <h4>Summary: @forecast.Summary</h4>
    <h4>Temperature: @forecast.TemperatureC</h4>

    <button @onclick="@(() => EditOnclick(forecast.Id.ToString()))">Edit</button>
    <button @onclick="@(() => DeleteOnclick(forecast.Id.ToString()))">Delete</button>
}

@code {

    [Parameter]
    public string Id { get; set; }

    private ForecastDto forecast = null;

    protected override async Task OnInitializedAsync()
    {
        forecast = await Http.GetFromJsonAsync<ForecastDto>("api/Forecast/" + Id);
    }

    protected void EditOnclick(string id)
    {
        NavManager.NavigateTo("/forecast/update/" + id);   
    }

    protected void DeleteOnclick(string id)
    {
        NavManager.NavigateTo("/forecast/delete/" + id); 
    }
}
