@page "/"
@using System.Text.Json
@using System.Text.Json.Serialization
@using WeatherBA.Shared.Dtos;
@inject HttpClient Http
@inject NavigationManager NavManager


<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>Upcoming weather</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Summary</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>
                        <a href="/forecast/@forecast.Id">@forecast.Date.ToShortDateString()</a>
                    </td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.Summary</td>
                    <td>
                        <button @onclick="@(() => EditOnclick(forecast.Id.ToString()))">Edit</button>
                        <button @onclick="@(() => DeleteOnclick(forecast.Id.ToString()))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ForecastDto[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<ForecastDto[]>("api/Forecast");
    }

    protected void EditOnclick(string id)
    {
        NavManager.NavigateTo("/forecast/update/" + id);   
    }

    protected void DeleteOnclick(string id)
    {
        NavManager.NavigateTo("/forecast/delete/" + id); 
    }
}
